.site-main {
    margin: 0;
    padding: 0;
    background: #012F34;
}

.main-section {
    position: relative;
    margin: 0;
    padding: 140px 0;
}

.main-section::after {
    position: absolute;
    width: 240px;
    height: 200px;
    background-size: 100%;
    background-image: url(../../images/section3.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.main-line {
    margin: 0;
    width: 52px;
    height: 4px;
    display: block;
    background: #F67E7E;
}

.main-content {
    margin: 0;
    padding: 54px 0 0 0;
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main__left {
    width: 40%;
}

.main__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}

.main__right {
    margin: 0;
    padding: 0;
    width: 50%;
}

.main__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main__item {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__card {
    margin: 0 0 0 28px;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.main__item+.main__item {
    padding-top: 32px;
}

.list__title {
    margin: 0 0 16px 0;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
}

.list__text {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.8;
}

@media only screen and (max-width:910px) {
    .main-section {
        padding: 140px 0;
        background-position: top right;
    }

    .container {
        padding: 0 24px;
    }

    .main-content {
        padding: 32px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .main__left {
        width: 60%;
    }

    .main__right {
        width: 90%;
    }

    .item__card {
        margin: 0;
        padding: 0;
    }

    .list__title {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 28px;
    }

    .list__text {
        font-size: 15px;
        line-height: 25px;
    }

    .main__title {
        margin-bottom: 64px;
        font-size: 32px;
        line-height: 32px;
    }
}

@media screen and (max-width:610px) {
    .main-section {
        padding: 64px 0;
        background-position: top right;
    }

    .main__left {
        width: 80%;
    }

    .item__card {
        margin: 0;
        padding: 0;
    }

    .main__right {
        width: 90%;
    }

    .main__item {
        flex-direction: column;
        text-align: center;
    }

    .item__card {
        flex-direction: column;
    }

    .main__title {
        margin-bottom: 56px;
    }

}